include ../common/socials.pug
-var links = ['my-works.html', 'about.html', 'blog.html', 'index.html']

footer.footer.footer--pages
    .footer__row.footer__row--top
        .footer__col.footer__col--left
            ul.nav-menu.nav-menu--footer
                each item, index in ["Мои работы", "Обо мне", "Блог", "Авторизация"]
                    li.nav-menu__item
                        a.nav-menu__link(href=links[index])= item
        .footer__col.footer__col--right
            +socials('socials__icon_rounded', ['vk','github', 'telegram'], ['https://vk.com/sshvedova2013','https://github.com/svetafilimonova','https://t.me/lana_feels'], '25', '15','rounded')
    .footer__row.footer__row--bottom
        .footer__col.footer__col--left
            .footer__col-text.footer__col-text--info
                p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамкаx обучения в Школе онлайн образования LoftSchool. 
        .footer__col.footer__col--right
            .footer__col-text.footer__col-text--copyright
                p © Светлана Филимонова | создано с любовью в LoftSchool | 2018
