extends ../template
include ../common/header

block variables
    - var title = 'Обо мне'

block content
    .wrapper.wrapper--pages.wrapper--about
        +header("about", "Светлана Филимонова", "Личный сайт веб разработчика", 'portfolio_header', true)
    include ../common/footer
   
    