extends ../template
include ../common/header

block variables
    - var title = 'Блог'

block content
    .wrapper-pages.wrapper-pages--blog
        .p-container
            +header('blog', "Блог", "Статьи, которые я написала", 'blog_header', false)
            section.blog.section--blog
                aside.blog__nav-menu
                    nav.blog__navigation
                        ul.blog-nav
                            each item in ['Самое важное в SASS', 'Приёмы в вёрстке, без которых  не обходится ни один сайт', 'Самый необходимый набор Gulp плагинов', 'Почему я выбрал Pug']
                                li.blog-nav__item
                                    a.blog-nav__link=item
                    button.blog__nav-btn.reset-btn            
                main.blog__main
                    article.articles__text
                        h2.articles__title Самое важное в SASS
                        span.articles__date 22 ноября 2016
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                                .articles__pic(style={width: '680px', height:'110px','background-image': 'url("assets/images/img/code.png")'})
                    article.articles__text
                        h2.articles__title Приёмы в вёрстке, без которых не обходится ни один сайт
                        span.articles__date 13 ноября 2016
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    include ../common/footer
    .fullscr-menu
        ul.nav-menu.fullscr-menu__list
            each item, index in ["Мои работы", "Обо мне", "Блог", "Авторизация"]
                li.nav-menu__item.fullscr-menu__item
                    a.nav-menu__link.fullscr-menu__link.title(href=links[index])= item
    button.reset-btn.hamburger
        .hamburger__menu
            .hamburger__btn