extends ../template
include ../common/greenbtns.pug
include ../common/socials.pug

block variables
    - var title = 'Добро пожаловать'

block content
    .intro__wrapper
        div.btn-block
            a.auth-btn(href="#") Авторизоваться
        main.intro-block
            .container.container_intro
                .about
                    .about__pic
                    .about__info
                        .about__info-name Светлана Филимонова
                        .about__info-txt   Личный сайт веб разработчика
                    .about__socials
                        +socials('socials__icon_green', ['vk','github', 'telegram_logo'], ['https://vk.com/sshvedova2013','https://github.com/svetafilimonova','https://t.me/lana_feels'])
                    .about__menu
                        +buttons(["Мои работы", 'Обо мне', 'Блог'], ['my-works', 'about','blog'])
                .about.about-auth
                    .header.about-auth__header Авторизуйтесь
                    form.about-auth__form(action="#")
                    +buttons(["На главную", 'Войти'], ['about','blog'])
        footer.intro-footer
            .container
                .footer__copyright
                    p © Светлана Филимонова | создано с любовью в LoftSchool | 2016
