extends ../template
include ../common/greenbtns.pug
include ../common/socials.pug

block variables
    - var title = 'Добро пожаловать'

block content
    .wrapper.wrapper--intro
        div.btn-block.btn-block--intro
            button.auth-btn.reset-btn(href="#") Авторизоваться
        main.intro
            .container.container--intro
                .intro__flip.intro__flip-front
                    .welcome
                        .welcome__pic
                        .welcome__info
                            .welcome__info-name 
                                h1.welcome__info-title Светлана Филимонова
                            .welcome__info-txt   
                                h2.welcome__info-title--smaller Личный сайт веб разработчика
                        .welcome__socials
                            +socials('socials__icon--green', ['vk','github', 'telegram_logo'], ['https://vk.com/sshvedova2013','https://github.com/svetafilimonova','https://t.me/lana_feels'],'35', '25')
                        .welcome__menu
                    .buttons-wrapper
                        +buttons(["Мои работы", 'Обо мне', 'Блог'], ['my-works', 'about','blog'])
                .intro__flip.intro__flip-back
                    .welcome.welcome-auth
                        .title.title-smaller.welcome-auth__title Авторизуйтесь
                        form.auth-form(action="#")
                            .auth-form__row
                                label.auth-form__label(for="login")
                                    span.visually-hidden Логин
                                    .auth-form__icon.auth-form__icon-login
                                        svg.auth-form__icon-svg.svg-login(style={width: '20px', height: '20px'})
                                            use.icon-login(xlink:href='../assets/images/sprite.svg#login')
                                    input.auth-form__input(type="text" placeholder="Логин" id="login").auth-form__label
                            .auth-form__row
                                label.auth-form__label(for="password")
                                    span.visually-hidden Пароль
                                    .auth-form__icon.auth-form__icon-password
                                        svg.auth-form__icon-svg.svg-login(style={width: '20px', height: '20px'})
                                            use.icon-login(xlink:href='../assets/images/sprite.svg#password')
                                    input.auth-form__input(type="password" placeholder="Пароль" id="password").auth-form__label 
                            .auth-form__controls
                                .auth-form__controls-row
                                    label(for="human").auth-form__label.auth-form__controls-label
                                        input(type="checkbox" id="human" checked).auth-form__check
                                        .auth-form__check-fake
                                        .auth-form__text Я человек
                                .auth-form__controls-row
                                    .auth-form__text.auth-form__radio-head Вы точно не робот?
                                    .auth-form__radios
                                        label(for="yes").auth-form__label.auth-form__controls-label
                                            input(type="radio", name="robot" id="yes" checked).auth-form__radio
                                            .auth-form__radio-fake
                                            .auth-form__text.auth-form__radio-text Да
                                        label(for="notsure").auth-form__label.auth-form__controls-label
                                            input(type="radio", name="robot" id="notsure").auth-form__radio
                                            .auth-form__radio-fake
                                            .auth-form__text.auth-form__radio-text Не уверен
                    .buttons-wrapper
                        +buttons(["На главную", 'Войти'], ['welcome','blog'])
    footer.footer.intro-footer
        .container.container--footer-intro
            .footer__copyright
                p © Светлана Филимонова | создано с любовью в LoftSchool | 2018
