block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel='stylesheet' href='assets/styles/app.min.css')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAEihv8-vasPvzAdfj6PLkeXL_12u-9m28&callback=initMap' defer)
        script(src='assets/scripts/bundle.js' defer)
    body
        block content