.header__info_blog {
    color: #fff;
}

.welcome__info-name_blog {
    font-size: 63px;
    font-family:$BernierReg;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before, &:after {
        content: '';
        display: inline-block;
        width: 23px;
        height: 4px;
        background-color: rgba(#fff, .3);
    }
    &:before {
        margin-right: 20px;
    }
    &:after {
        margin-left: 20px;
    }
}

.header__bg-icon_blog_header {
    top: 35%;
}

.header__traingles_blog {
    fill: #ffffff;
}

.section--blog {
    display: flex;
    margin-top: 60px;
}

.blog__nav-menu {
    flex: 0 0 25%;
    padding: 0 45px;
    text-align: right;
    position: relative;
    position: sticky;
    top:0;

    @include tablet {
        background-color: $seagreen;
        z-index: 50;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        transition: .5s transform;

    }

    &.active {
        transform: translateX(-35%);  
    }

}

.blog__nav-btn  {
    width: 55px;
    height: 55px;
    display: none;
    border-radius: 50%;
    background-color: $seagreen;
    position: absolute;
    left: 93%;
    top: 45%;
    border: none;
    outline: none;

    @include tablet {
        display: block;
        // left: 97%;
    }

    @include phone {
        top: 25%;
        left: 89%;
    }

}
.blog__navigation {
    @include tablet {
        transform: translateY(270%);
        display: flex;
        flex-direction: column;
        align-items: flex-end;         
    }
}

.blog-nav {
    position: sticky;
    top:0;

    @include tablet {
        width: 70%;
    }
}
.blog-nav__item {
    margin-bottom: 20px;
    padding: 10px 20px;
    @include tablet {
       color: #ffffff;
    }
}

.blog-nav__item--active {
    border-right: 4px solid $seagreen;
    color: $seagreen;
    font-family: $RobotoB;

    @include tablet {
        font-weight: 800;
        color: #ffffff;
     }
}

.blog__main {
    padding: 0 60px 125px 60px;
    flex: 0 0 55%;

    @include tablet {
        padding: 0 60px 125px 30px;
    }

    @include phone {
        width: 95%;
    }

}

.articles__title {
    font-size: 35px;
    font-family:$BernierReg;
    color: $darkgrey;
    margin-bottom: 15px;

    @include phone{
    font-size: 21px; 
    }
}

.articles__date {
    color: $seagreen;
    margin-bottom: 23px;
    display: block;
}

.articles__text {
    padding-bottom: 70px;
    border-bottom: 5px solid #f1f1f2;

    &:last-child {
        border-bottom: none;
        padding-top: 30px;
        @include tablet {
            margin-bottom: 60px;
        }
    }
    &:first-child {
        padding-top: 0;
    }
}

.articles__text p {
    margin-bottom: 15px;  
}

.articles__pic {
    @include phone {
        max-width: 100%;
    }
}