.wrapper--intro {
    background-image: url(../images/img/mount.jpg);
    @extend %bgpicture;
    // height: 100vh;
    min-height: 100%;
    // overflow: hidden; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    // justify-content: space-between;

}

.container--intro {
    max-width: 457px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transition: transform 1s;

    @include phone {
        width: 95%;
    }

    &.flipped {
        transform: rotateY( 180deg );
    }

    &.flipped .intro__flip-front {
        opacity: .999;
        // visibility: hidden;
        // transform: rotateY( 180deg );
    }

    &.flipped .intro__flip-back {
        // opacity: 1;
    }
}

.container--footer-intro {
    
    @include phone {
        width: 60%;
    }
}
.btn-block {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 50px 50px;

    @include phone {
        justify-content: center;
    }
}

.auth-btn {
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px 25px;
    // margin-top: 37px;
    // margin-right: 50px;

    &:hover , &:focus {
        background-color: $seagreen;
        border: 1px solid transparent;
    }
}


.btn-block--intro {
    margin-bottom: 50px;

    @include phone {
        margin-bottom: 0px;
    }

}
.intro {
    perspective: 800px;
    position: relative;
}
.intro__flip {
    width: 380px; 
    position: absolute;
    backface-visibility: hidden; 

    @include phone {
       width: 100%;  
    }
}

.intro__flip-back {
    transform: rotateY( 180deg );
}



.welcome {
    background-color: rgba(252, 252, 252, 0.8);
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding: 20px;
    backface-visibility: hidden; 
    // margin-bottom: 100px;
    // align-self: center;
    // justify-self: center;

}

.welcome__pic {
    background-image: url(../images/photo/me.JPG);
    @extend %bgpicture;
    width: 149px;
    height: 140px;
    border-radius: 50%;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 20px;

}

.welcome__info {
    color: #455a64;
    text-align: center;
    margin-bottom: 30px;
}

.welcome__info-name {
    font-size: 28px;
    font-family: $RobotoMed;
}

.welcome__info-txt {
    font-size: 16px; 
    font-family: $RobotoReg;
    
} 

.welcome__socials {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer__copyright {
    font-size: 16px;
    color: #ffff;
    font-family: $RobotoL;
    text-align: center;
}

.welcome-auth__title {
    margin-bottom: 40px;
    margin-top: 40px;
}

.auth-form__icon {
    width: 46px;
    height: 46px;
    background-color: #f0efe9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    flex-shrink: 0;
}

.auth-form__label {
    display: flex;
    // align-items: center;
    // justify-content: center;
}

.auth-form__icon-svg {
    fill: $lightgrey
}

.auth-form__input {
    width: 100%;
    border: none;
    outline: none;
    padding: 13px 20px;
    border-radius: 0 8px 8px 0;
}

.auth-form__input::-webkit-input-placeholder {
    color: #aeb0b1;
}
.auth-form__row {
    margin-bottom: 20px;
}

.auth-form {
    width: 90%;
    margin: 0 auto;
    color: $fontgrey;
    // color: $darkgrey;

    @include phone {
        width: 100%;
    }
}

.auth-form__controls {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phone {
        width: 80%;  
    }
}

.auth-form__check-fake {
    width: 20px;
    height: 20px;
    background-color:$seagreen;
    position: relative;
    border-radius: 5px;
    margin-right: 10px;

    &:after {
        @include pseudo-elem(21px, 21px, transparent, none);
        background-image: url(../images/img/tick.png);
        background-repeat: no-repeat;
        background-position: center;
    }


}

.auth-form__check:checked + .auth-form__check-fake:after {
    display: block;
}

.auth-form__check {
    display: none;
}

.auth-form__controls-row {
    margin-bottom: 15px;
}

.auth-form__radio-head {
    font-weight: bold;
    margin-bottom: 10px;
}

.auth-form__radios {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.auth-form__controls-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-form__radio-fake {
    @include pseudo-elem(20px, 20px, #fff, block);
    border-radius: 50%;
    border: 1px solid $lightgrey;
    position: relative;
    margin-right: 7px;

    &:after {
        @include pseudo-elem(8px, 8px, $seagreen, none);
        border-radius: 50%;
        position: absolute;
        top:5px;
        left:5px;
    }
}

.auth-form__radio {
    display: none;
}
.auth-form__radio:checked + .auth-form__radio-fake::after {
    display: block;
}

.auth-form__radio:checked ~ .auth-form__radio-text {
    color: $seagreen;
}

.back__buttons-wrapper {
    display: flex;
    border-radius:0 0 5px 5px;
    overflow: hidden;
}
.auth-form__button {
    display: inline-block;
    background-color: rgba($seagreen, .7);
    width: 50%;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-family: $RobotoMed;
    color: #fff;
    cursor: pointer;
    &:hover {
    background-color: rgba($darkSeagreen, .7);
    }
}


.auth-form__button-main {
    border-right: 2px solid #73c8c0;
}