.header__traingle-left_works, .header__traingle-right_works {
    fill: $white;
}

.header__info_works {
    color: #fff;
}

.works__title-icon {
    fill: #f0eee7;
    position: absolute;
    top: 50%;
    right: 50%;
    top: -2%;
    transform: translateX(50%);

    @include phone {
        height: 100px;
    }
}

.works__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px;
    background-color: $white;
}

.works__title-text {
    z-index: 10;
}

.slider {
    background-color: #f0efe9;
    display: flex;
    position: relative;
    height: 650px;

    @include tablet {
        height: 1063px;
    }
}

.slider__arrow {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include phone {
        width: 5%;
    }
}

.slider__arrow-icon  {
    fill: $seagreen;
    cursor: pointer;
}
.slider__arrow-icon--left {
   transform: rotate(90deg);
}

.slider__arrow-icon--right {
    transform: rotate(90deg);
 }

 .works__list {
     flex: 1 0 80%;
     position: relative;
     height: 100%;
    width: 100%;
 }
.works__img {
    width: 520px;
    height: 650px;
    @extend %bgpicture;
    margin-right: 105px;

    @include tablet {
        margin-right: 0;
        }

    @include phone {
        width: 100%;
        }
}

.works__item {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;

    @include tablet {
        flex-direction: column;
        align-items: center;
     }

     @include phone {
        width: 100%;
     }
}

.showing{
    opacity: 1;
    z-index: 2;
}

.works__description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
       order: -1; 
       width: 65%;
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @include phone {
        font-size: 14px;
        width: 100%;
    }
}
.works__name {
    font-family: $BernierReg;
    color: $darkgrey;
    font-size: 35px;

    @include tablet {
    font-size: 30px;
    }
}

.works__name-title {

    @include tablet {
        font-size: 30px;
        }

        @include phone {
            font-size: 21px;
        }
}

.works__technologies {
    color: $seagreen;
    border-bottom: 1px solid $seagreen;
    border-top: 1px solid $seagreen;
    font-family: $RobotoMed;
    padding: 20px 0;
    margin-bottom: 40px;

    @include tablet {
        width: 80%;
        align-self: center;
    }

    @include phone {
        width: 100%;
    }

}

.works__button {
    position: relative;
}

.slider__link-icon {
    fill: #fff;
    position: absolute;
    right: 92%;
    top: 14%;
    cursor: pointer;


    @include tablet {
        right: 65%;
    }



}
.works__link {
    color: #fff;
    background-color: $seagreen;
    font-family: $RobotoMed;
    padding: 10px 20px 10px 50px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.nav-dots {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;

    @include tablet {
        bottom: 2%;
    }
}

.nav-dots__item {
    width: 10px;
    height: 10px;
    border: 2px solid $seagreen;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}

.nav-dots__item--active {
    background-color: $seagreen;
}

.section--comments {
    min-height: 1420px;
    background-image: url(../images/img/works.jpg);
    position: relative;
    @extend %bgpicture;
    padding-bottom: 350px;

    @include tablet {
        min-height: 1350px;
    }

    @include phone {
        min-height: 1560px;
    }
}

.comments__title {
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.comments__title--works {
    @include tablet {
        margin-bottom: 20px;
    }

    @include phone {
        margin-bottom: 0px;
    }
}

.comments__title-icon {
    fill: #ebecec;
    position: absolute;
    top: 4%;
    right: 50%;
    transform: translateX(50%);

    @include tablet {
        top: 0%;
    }

    @include phone {
        height: 100px;
        top: 10%;
    }
}

.comments__title-text {
    z-index: 10;
    position: relative;
    width: 50%;
    text-align: center;
    line-height: 1;

    @include tablet {
        width: 100%;  
        line-height: inherit;
        margin-bottom: 0;
    }
}

.quote__quotes {
    width: 34px;
    height: 30px;
    // @extend %bgpicture;
    background-image: url(../images/img/quotes.png);
    background-repeat: no-repeat;
    margin-bottom: 30px;

    @include phone {
        align-self: center;
        margin-bottom: 10px;
    }
}

.quote__person-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    @extend %bgpicture;
    margin-right: 20px;
}
.quote__text {
    color: $darkgrey;
    margin-bottom: 25px;

    @include tablet {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

.quote__person {
    display: flex;
    align-items: center;
}

.quote__person-info {
    color: $seagreen;
    font-style: normal;
}

.quote__person-name {
    font-family: $RobotoB;
}

.comments__content--works {
    margin-bottom: 70px;

    @include phone {
        margin-bottom: 0px;
    } 
}

.quote {
    display: flex;
    justify-content: center;
    

    @include tablet {
        padding: 0 20px;
    }

    @include phone {
        flex-direction: column;
        align-items: center;
    }

}
.quote__item {
    // display: flex;
    width: 30%;
    margin-right: 36px;

    @include tablet {
        width: 50%;
        margin-right: 0px;
    }

    @include phone {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
        line-height: 24px;
        font-size: 14px;
    }
}


.comment__form-wrapper {
    width: 380px;
    // position: absolute;
    // top:50%;
    // left: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;


  


    // &:before {

    // content: "";
    // display: block;
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    // right:0;
    // bottom: 0;
    // position: absolute;
    // background-image: url(../images/img/works.jpg);
    // background-repeat: no-repeat;
    // background-position: 50% 71%;
    // background-attachment: fixed;
    // background-size: cover;
    // filter: blur(20px);

    // }



}

.comment__form-blur {
    background-image: url(../images/img/works.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    filter: blur(20px);
    position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
    z-index: -1;
}

.comment__form {
    width: 380px;
    // background-color: rgba(#fff, .3);
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    // padding: 40px 20px 20px;
}

.comment__form--works {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    @include tablet {
        margin-bottom: 80px;
    }
   
}

.comment__form-heading {
    margin-top: 35px;
    margin-bottom: 35px;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.contact-form__row {
    width: 90%; 
}
.contact-form__input {
    outline: none;
    border: none;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px 15px;

 
}

.error {
    border: 1px solid rgb(240, 82, 82);
    margin-bottom: 5px;
}

::-webkit-input-placeholder {
    color:#aeb0b1;
    vertical-align: top;
}

.contact-form__textarea {
    height: 140px;
    resize: none;

    ::-webkit-input-placeholder {
        vertical-align: baseline;
    }
}
.comment__form-btns {
    display: flex;
    border-radius:0 0 5px 5px;
    overflow: hidden;
    width: 100%;
}
.contact-form__btn{
    display: inline-block;
    background-color: rgba($seagreen, .7);
    width: 50%;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-family: $RobotoMed;
    color: #fff;
    cursor: pointer;
    &:hover {
    background-color: rgba($darkSeagreen, .7);
    }
}

.contact-form__btn--submit {
    border-right: 2px solid #73c8c0;
}
.comment__arrow-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment__arrow-btn {
    width: 35px;

    @include tablet {
        width: 40px;
    }
    
}
.comment__arrow-icon--up {
    fill: rgba(#fff, .5);
}

.contact-form__row {
    position: relative;
}

.comment__form-error {
    background-color: rgba(251, 183, 183, 0.3);
    color: rgb(240, 82, 82);
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(240, 82, 82);
    padding: 5px 15px;
    margin: 0 auto 10px;
}


.comment__form-succsess {
    background-color: rgba(#c0eee9, .5);
    color: $seagreen;
    width: 90%;
    border-radius: 5px;
    border: 1px solid $seagreen;
    padding: 10px 15px;
    margin: 10px auto;
}

.hidden {
    display: none;
}

