@import 'normalize';
@import 'fonts';


$seagreen: #00bfa5;
$paleSeagreen: #70d1c6;
$lightSeagreen: lighten(#00bfa5, 2%);
$darkSeagreen: #009688;
$btnSgreen: #0a8e86;
$darkgrey: #455a64;
$darkest: #373e42;
$lightgrey: #c5cbcd;
$fontgrey: #6e7d84;
$white: #faf8f0;



@mixin pseudo-elem($width, $height, $bgcolor, $display) {
    content: "";
    display: $display;
    width: $width;
    height: $height;
    background-color: $bgcolor;
}

%bgpicture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body{
// height: 100%;
// height: 100vh;
width: 100%;
padding: 0;
margin: 0;
line-height: 1.42;
font-family: $RobotoReg;
font-size: 16px;
position: relative;
// overflow: hidden;
}

html,body {
    // height: 100%;
    min-height: 100%;
    // overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

 
ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
   }
}

p {
    margin: 0;
    padding:0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.wrapper {
    &:after {
        content: '';
        display: block;
        height: 70px;
    }
}

.wrapper--pages {
    min-height: 100%;
    &:after {
        // content: '';
        // display: block;
        // height: 145px;
    }
}

.footer {
    height: 70px;
    margin-top: -70px;
}

.footer--pages {
    height: 145px;
    // margin-top: -145px;
    position: absolute;
    bottom: 0;
}

.title {
    font-family: $BernierReg;
    color: $darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;

&:before, &:after {
        content: '';
        display: inline-block;
        width: 23px;
        height: 4px;
        background-color: $lightgrey;
    }
    &:before {
        margin-right: 20px;
    }
    &:after {
        margin-left: 20px;
    }
}

.title_dark {
    color: $darkest;
}

.title-smaller {
    font-size: 35px;
    
}

.title-bigger {
    font-size: 63px;
}



@import 'index';
@import 'common/menu';
@import 'common/header';
@import 'common/footer';
@import 'common/nav-menu';
@import 'common/about';
@import 'common/blog';
@import 'common/my-works';
@import 'common/socials';
@import 'common/greenbtns';
@import 'common/technologies';
@import 'common/slider';


