body{
height: 100vh;
width: 100%;
padding: 0;
margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
} 

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

$seagreen: #00bfa5;
$paleSeagreen: #70d1c6;
$lightSeagreen: lighten(#00bfa5, 2%);
$darkSeagreen: #009688;
$btnSgreen: #0a8e86;




@import 'normalize';
@import 'fonts';
@import 'index';
@import 'common/menu';
@import 'common/socials';
@import 'common/greenbtns';
@import 'common/technologies';
@import 'common/slider';