@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format("woff2");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/roboto-light-webfont.woff2') format("woff2");

}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('../fonts/roboto-lightitalic-webfont.woff2') format("woff2");

}

@font-face {
    font-family: 'RobotomediumItalic';
    src: url('../fonts/roboto-mediumitalic-webfont.woff2') format("woff2");

}

@font-face {
    font-family: 'RobotoItalic';
    src: url('../fonts/roboto-italic-webfont.woff2') format("woff2");

}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/roboto-regular-webfont.woff2') format("woff2");

}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/roboto-bold-webfont.woff2') format("woff2");

}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('../fonts/roboto-bolditalic-webfont.woff2') format("woff2");

}

@font-face {
    font-family: 'BernierDistReg';
    src: url('../fonts/bernierdistressed-regular-webfont.woff2') format("woff2");

}

@font-face {
    font-family: 'BernierReg';
    src: url('../fonts/bernier-regular-webfont.woff2') format("woff2");

}

@font-face {
    font-family: 'BernierShade';
    src: url('../fonts/berniershade-regular-webfont.woff2') format("woff2");

}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff2') format("woff2");
}



