.menu{
    padding: 0;
    display: flex;
    .menu__item {
        display: inline-block;
        background-color: rgba(0, 191, 165, .7);
        border-right: 2px solid #73c8c0;
        width: 100%;
        padding: 15px;
        text-align: center;
        font-size: 16px;
        font-family: 'RobotoMedium';
        &:hover {
        background-color: rgba(17, 149, 140, .8);
        }
        &:last-child {
        border-right: none;
        }
    }
}

.menu__link {
    color: #fff;
}
