.nav-menu__item {
    display: inline-block;
    margin-right: 40px;
    
    @include phone {
    margin-right: 10px;
    }

}

.nav-menu__link {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-family: $RobotoMed;
    transition: .3s;

    @include phone {
        font-size: 13px; 
    }

    &:hover {
        text-decoration: underline;
    }
}

