.socials {
    display: inline-block;
}

.socials__link {
    display: inline-block;

}

.socials__item {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.socials__icon {
    width: 34px;
    height: 21px;
    // margin-right: 25px;


}
.socials__icon_green {
    fill: $paleSeagreen;
    &:hover {
        fill: #00bfa5; 
        fill: $seagreen;
    }
}
